<h1>Lighthouse Form</h1>
<hr>
<h1><%= link_to "Create post", new_post_path %></h1>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <p><%= post.text %></p>
  <small>- <%= post.author %></small>
<% end %>